:root {
  --cornav: #4dc8f6;
  --corprimary: #03b4f6;
  --corprimaryhover: #204d74;
  --cormaintxt: #107dac;
  --corgeraltxt: #9c9c9c;
  --cormainfundo: #fff; /*d2ebf5*/
  --corfooter: #d9f5ff;
  --corcontraste: #6eb6d5; /*#107dac*/
}
html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-custom {
  background-color: var(--cornav);
  border-color: transparent;
}
.navbar-brand {
	padding: 0px 15px;
}

.navbar-custom .navbar-brand span.divulplace-brand {
	margin-top: 5px;
	display: block;
	width: 155px;
	height: 41px;
	background: url(../img/logos/imgpsh_divulplace_fullsize.png) repeat-x;
	background-size: 100%;
} 

.navbar-right {
	border-top: 2px solid #9c9c9c;
	text-align: center;
}

.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle, .btn-bar {
  background-color: var(--corprimary);
  border-color: var(--corprimary);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus ,
.btn-bar:hover {
  color: var(--cormaintxt);
  background-color: #d9f5ff;
  border-color: #9bcaf2;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: var(--corprimary);
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: #fff;
  background-color: var(--corprimary);
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: var(--corprimary);
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
	font-size: 10px;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
	padding: 15px 10px;
  }
  .navbar-custom .navbar-brand span.divulplace-brand {
	margin-top: 0px;
	display: block;
	width: 195px;
	height: 65px;
	background: url(../img/logos/imgpsh_divulplace_fullsize.png) repeat-x;
	background-size: 100%;
  }
  .navbar-right {
    border-top: none;
  }
}
@media (min-width: 992px) {
  .navbar-custom {
    font-size: 14px;
  }
  .navbar-nav {
    margin-left: 100px;
  }
  .navbar-right {
    margin-left: -100px;
  }
  .navbar-custom .navbar-nav > .active > a {
	padding: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: var(--cornav);
    padding: 10px 0;
	font-size: 10px;
  }
  .navbar-custom.affix .navbar-brand span.divulplace-brand {
	margin-top: 0px;
	width: 170px;
	height: 41px;
	background: url(../img/logos/imgpsh_divulplace_fullsize.png) repeat-x;
	background-size: 100%;
  } 
}

@media (min-width: 992px) {
 
  .navbar-custom.affix {
    font-size: 14px;
  }
}
/* Home Page Carousel */

header.carousel {
    height: 75%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.carousel-item-01 {
	background-color: #0d6f99;
}
.carousel-item-02 {
	background-color: #5d8da2;
}
.carousel-item-03 {
	background-color: #2f9ccb;
}

.btn-bar {
	color: #fff;
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.text-muted {
  color: #000;
}
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: var(--cormaintxt);
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  color: var(--cormaintxt);
  border-radius: 100%;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

ul.valores {
	color: #000;
	text-align: left;
}
.text-muted {
  text-align: justify;
}
.text-primary {
  color: var(--corprimary);
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: var(--corprimary);
}
a:hover,
a:focus,
a:active,
a.active {
  color: var(--corprimaryhover);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.btn-primary {
  color: #fff;
  background-color: var(--corprimary);
  border-color: var(--corprimary);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: var(--corprimaryhover);
  border-color: #9bcaf2;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: var(--corprimary);
  border-color: var(--corprimary);
}
.btn-primary .badge {
  color: var(--corprimary);
  background-color: var(--cormaintxt);
}
.btn-xl {
  color: #fff;
  background-color: var(--corprimary);
  border-color: #2e6da4;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: var(--cormaintxt);
  background-color: #d9f5ff;
  border-color: var(--corprimaryhover);
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: var(--corprimary);
  border-color: var(--corprimary);
}
.btn-xl .badge {
  color: var(--corprimary);
  background-color: var(--cormaintxt);
}
.btn-service {
  margin: 20px;
  padding: 8px 30px;
}
section {
  padding: 75px 0;
}
section h2.section-heading {
  margin-top: 0;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid #9ea0ab;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
  color: #ccc;
}
h4.service-heading {
  line-height: 4;
}

.timeline-image  img{
	margin: 0 auto;
	border: 7px solid var(--cormaintxt);
}

.row-break {
	margin-bottom: 40px;
}

section#more {
 background-color: var(--cormainfundo);
}

section#services, section#about  {
  background: var(--cormainfundo) url('../img/background/blue_soft_3.png') repeat-y;
  background-position: center;
  color: var(--cormaintxt);
}

section#contact {
  background-color: #107dac;
  background-image: url('../img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
}
section#contact .section-heading {
  color: var(--cormaintxt);
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: var(--corprimary);
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact .text-danger {
  color: #e74c3c;
}

.thoughts-section {
  background-color: var(--corcontraste);
}

.thoughts-section  blockquote p{
	font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
	font-size: 1.5em;
	color: #fff;
}
blockquote footer {
  color: #ccc;
}

footer.end-section {
  background-color: var(--corfooter);
  padding: 25px 0;
  text-align: center;
  color: var(--cormaintxt);
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: var(--cormaintxt);
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: var(--corprimary);
  color: #fff;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}